
.web_name{
  color: #00bfff;
}
.navbar{
  /* background-color: #f0f0f0; */
  
}
.nav{
  position: relative;
  top: 0;
  left: 50%;
}
nav  {
  list-style-type: none;
  margin-top: 0px;
  margin-left: 1px;
}

.nav li {
  display: inline;
  margin-right: 20px;
  font-size: 20px;
}

.nav li a {
  text-decoration: none;
  color: #a10000; /* Adjust the color to your preference */
}

.nav li a:hover {
  text-decoration: none; /* Ensure underline is removed on hover */
  color: #00bfff; /* Adjust the hover color to your preference */

}
